
html {
  background-color: white;
  color: grey;

}

*, *:before, *:after {
	box-sizing: border-box;
}

img, video {
  width: 100%
}

body {
  font-size: 16px;
  font-family:'Raleway', sans-serif;
  height: 24px;
}

header {
  padding: 0px 24px;
  height: 64px;
}

#logo {
  float: left
}
#logo img {
  float: left;
  padding-top: 16px;
  width: auto;
}

#logo-text {
  line-height: 64px
}
#logo-text strong {
  color: #4a4a4a
}

#navigation {
  float: right;
  padding-right: 24px;
  line-height: 64px
}

nav span {
  display: inline-block;
  padding-left: 16px;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

h1 {
  font-size: 20px;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

.section {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
  padding-left: 24px !important;
  overflow: auto;
}
.section:nth-child(even) {
  background-color: #ddd
}
.section:nth-child(odd), .section:last-child {
  background-color: white
}
.section-left {
  float: left;
  width: 60%
}
.section-right {
  margin-left: 24px;
  float: left;
  width: calc(40% - 24px)
}
.section-right .entry {
  width: 100%;
  overflow: hidden;
  border: 1px solid #ccc;
  padding: 16px 16px;
  margin-bottom: 3px;
  display: flex;
  align-items: center
}
.section-right .entry-image {
  width: 35% !important;
  height: auto;
  float: left
}
.section-right .entry-info {
  float: left;
  width: 65%;
  padding-left: 24px;
}
.section-right .entry-title {
  font-size: 20px;
  font-weight: 700;
  color: #444
}
.section-right .entry-link {
  color: blue
}
.section-right .entry:nth-child(3) {
  background-color: #ddd
}

.flex-container {
  background-color: #ddd
}

.content {
  padding: 32px 0px
}
.content h2 {
  padding-bottom: 24px
}

.banner {
  padding-top: 32px;
  padding-bottom: 32px
}

.section-right h1 {
  font-size: 44px;
  color: #444
}
.section-right h4 {
  font-size: 26px;
  color: #444;
  font-weight: 500;
  padding: 32px 0px
}
.section-right .button {
  display: block;
  padding: 8px 0px;
  color: #fff;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  background-color: #444;
}


.courses {
  padding: 0px 48px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.course {
  width: 30%;
  margin-bottom: 32px;
  background-color: #fff
}
.course-title {
  font-weight: 700;
  color: #444;
  padding: 16px 16px
}
.course-description {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 24px
}
.section-title {
  text-align: center;
  color: #444;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 32px
}

.sidebar-text {
  float: left;
  width: 40%;
  padding: 24px 24px;
  padding-top: 24px;
  border-top: 20px;

}

.p {
  padding: 10px 20px;
  margin-top: 60px;
}

.guest {
  display: inline;
  width: 40%;
  height: 200px;
  background-color: silver;
}

#thesis-exhibit .entry:first-child {
  background-color: #ddd
}

footer {
  border-top: 1px solid #ddd;
  font-size: 14px
}
.footer-links {
  float: right
}
.footer-links a {
  margin-right: 24px
}
.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px
}

.mobile-only {
  display: none
}

@media(max-width: 1000px) {
  .desktop-only {
    display: none
  }
  .mobile-only {
    display: block
  }
 .section {
   padding: 0px 0px !important;
   background-color: white !important
 }
 .section-left, .section-right {
   width: 100%;
   margin: 0
 }
 .section-right {
   padding: 32px 16px;
 }

 #navigation {
   float: none;
   width: 100%;
   overflow: hidden;
 }

 #navigation .mobile-only {
  display: flex;
  justify-content: space-between;
 }

 #navigation span {
  display: inline-block;
  width: 64px;
  height: 64px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
 }
 #navigation span:nth-child(1) {
    background-image: url(../images/ic-logo.svg);
  }
  #navigation span:nth-child(2) {
    background-image: url(../images/ic-on-campus.svg);
  }
  #navigation span:nth-child(3) {
    background-image: url(../images/ic-online.svg);
  }
  #navigation span:nth-child(4) {
    background-image: url(../images/ic-login.svg);
  }

  .flex-container {
    height: auto
  }

  .courses img, .courses .course-description {
    display: none
  }
  .content {
    display: none
  }
  .courses .course {
    width: 100%;
    margin-bottom: 5px;
    background-color: #ddd
  }

  .banner .section-right {
    background-color: #ddd
  }

  .section-right .entry {
    border: none
  }

  .section-right .entry:nth-child(3) .entry {
    background-color: #ddd
  }
  footer.section {
    padding: 16px 16px !important
  }
  .section-right .button {
    background-color: #9b9b9b
  }
}
